/*! 
 * CLAS Innovation Theme Styles
 */ 


 /* needed for asu degree tabs */
.node-type-asu-degree .ui-widget {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 20px;
    line-height: 1.44;
    color: #2a2a2a;
    background-color: white;
}
.node-type-asu-degree .container .asu-degree-tabs {
    font-size: 20px;
    margin-top: 48px;
}
.node-type-asu-degree .container .field-name-body, .asu-degree-short-description {
    font-size: 20px;
    margin-top: 48px;
}
.node-type-asu-degree .asu-degree-grey-section h2 {
	font-size: 30px;
}
 

 /* Make College link in footer white instead of maroon */
 
.megafoot h1 a {
	color: #ffb310;
    border-bottom: 1px dotted #ffb310;
}
.megafoot h1 a:hover,
.megafoot h1 a:focus {
	color: #fff;
	border-bottom: 1px dotted #fff;
}
 

/* Degree list view switch buttons */

.degree-switch-buttons {
    text-align: right;
    margin-bottom: 12px;
}


/* hide menu dropdowns in gray nav with the .nosub class */

.tb-megamenu-item.nosub .tb-megamenu-submenu {
	display:none !important;
}
.tb-megamenu-item.nosub a span.caret {
	display:none !important;
}
.tb-megamenu-item.nosub.dropdown-submenu > a:after {
	display:none !important;
}


/* make sure images in text panes don't extend outside the pane */

.pane-content .field-type-text-long img {
	max-width:100% !important;
	height:auto !important;
}
.file-responsive-image {
	max-width:100%;
}


/* CLAS Degree Listing images */

.clas-degrees-view .views-bootstrap-grid-plugin-style .row .col {
	padding-top:30px;
	padding-bottom:30px;
}
.clas-degrees-view .views-bootstrap-grid-plugin-style .views-field-field-degree-image {
	float:left;
	display:block;
}
.clas-degrees-view .views-bootstrap-grid-plugin-style .views-field-field-asu-degree:after {
	content: " ";
	display: table;
	clear:both;
}
.clas-degrees-view .views-bootstrap-grid-plugin-style .views-field-field-asu-degree {
	/*margin:45px 0px;*/
}

@media (max-width: 765px) {
	.clas-degrees-view .views-bootstrap-grid-plugin-style .views-field-field-degree-image {
		width:200px;
		margin: 10px 10px 0 0;
	}
}
@media (max-width: 520px) {
	.clas-degrees-view .views-bootstrap-grid-plugin-style .views-field-field-degree-image {
		float:none;
		width:260px;
		margin:0;
	}
}


/* Override styles on news and events page */

@media (min-width: 931px) {
	.pane-asu-news-new-panel-pane-3 .view-asu-news-new .views-row {
		height:auto;
		min-height: 380px;
		padding-bottom: 35px;
	}
}


/* Gray nav bar additional styles */

@media (max-width: 1200px) {
	.tb-megamenu .nav > li > a {
		padding: 21px 18px !important;
		font-size:15px !important;
	}
}
@media (max-width: 992px) {
	.tb-megamenu .nav > li > a {
		padding: 21px 12px !important;
		font-size:14px !important;
	}
}

/*CLAS Paragraphs Styles*/

div.krumo-element { color: #000; }
div.krumo-preview { color: #000; }

/* CTA Buttons */

.cta-section {
	background-color: #F1F1F1;
	padding: 60px 0 !important;
}
.image-cta {
	margin-top: 50px;
	text-align: center;
}
.title-cta {
	color: #000000;
	font-size: 20px;
	text-align: center;
	margin-bottom: 0;
	margin-top: 30px;
	font-weight: bold;
}
.sub-title-cta {
	color: #000000;
	font-size: 16px;
	text-align: center;
	margin-bottom: 0;
}
.btn-cta {
	margin-bottom: 60px;
}

.field-name-field-icon-1 {
	text-align: center;
	margin-top: 20px;
}

.field-name-field-icon-2 {
	text-align: center;	
	margin-top: 20px;	
}

.field-name-field-icon-3 {
	text-align: center;
	margin-top: 20px;	
}

/* Image Left - Image Right */

.image-left-right-row-padding {
	padding: 40px 0 !important;
}

/* Number Highlighter */

.number-highlighter-row {
	padding: 40px 0 !important;
	background-color: #353535;
}

.statbar-title {
	color: #FFFFFF;
}

.statbar-number {
	color: #FFB130;
	font-size: 64px;
	text-align: center;
	margin-bottom: 0;
}

.statbar-description {
	color: #FFFFFF;
	text-align: center;
}

/* Quotes Carousel */

.carousel-row {
	background-color: #353535 !important;
}

.carousel-control {
  font-size: 50px !important;
  border-bottom: none !important;
}
.carousel-control.left {
  background-image: none !important;
}
.carousel-control.right {
  background-image: none !important;
}
.carousel-control .glyphicon-chevron-left {
    left: 10% !important;
}
.carousel-control .glyphicon-chevron-right {
    right: 10% !important;
}

.text-center-xs {
    text-align: left;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    .text-center-xs {
        text-align: center;
    }    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .text-center-xs {
        text-align: center;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text-center-xs {
        text-align: center;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .text-center-xs {
        text-align: left;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .text-center-xs {
        text-align: left;
    }
}

.quotes-photo {
  margin-top: 20px;
}

.quotes-quote {
  font-size: 20px;
  color: #FFFFFF;
  margin-top: 20px;
}
.quotes-name {
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
  margin-top: 10px;  
}
.quotes-title {
  font-size: 20px;
  color: #FFFFFF;
  margin-top: 10px;  
}

/* Starburst Gray Carousel */

.starburst-carousel-row {
	background-color: #353535 !important;
}

.starburst-gray-title {
	color: #FFFFFF;
	font-size: 36px;
	margin-bottom: 40px;
}

.starburst-gray-photo {

}

.starburst-gray-link {
	font-size: 20px;
	color: #FFB130;
	margin-bottom: 10px;
}

.starburst-gray-link a:link, 
.starburst-gray-link a:visited, 
.starburst-gray-link a:hover { 
 color: #FFB130; 
 text-decoration: none; 
 border-bottom: 1px dotted #FFB130;
} 

.starburst-gray-text {
	color: #FFFFFF;
	font-size: 18px;
	line-height: 28px;
}

/* Starburst Gold Carousel */

.starburst-gold-carousel-row {
	background-color: #FFB130 !important;
}

.starburst-gold-title {
	color: #000000;
	font-size: 18px;
	margin-top: 20px;
	font-weight: bold;
}

.starburst-gold-text {
	color: #000000;
	font-size: 28px;
	margin-top: 30px;
	margin-bottom: 30px;
}

/* Starburst Gold Two Column */

.starburst-gold-two-colum-title {
	color: #000000;
	font-size: 30px;
	margin-top: 20px;
}

.starburst-gold-two-colum-text {
	color: #000000;
	font-size: 16px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.starburst-gold-two-colum-section {
	background-color: #FFB130 !important;
	padding-bottom: 40px;
}

.starburst-gold-two-colum-section h5 {
	font-weight: normal;
	margin-top: 40px;
}

.field-name-field-sb-list-item .field-items .field-item {
	font-size: 16px;
}

/* Two Column Photos */

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	.two-column-photos-full-background {
		/*background-color: #e3e3e3;*/
		/*background: url("<?php echo file_create_url($content['field_left_side_photo'][0]['#item']['uri']); ?>");*/
	    /*background-attachment: fixed;*/
	    background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size:cover;	    
		background-position: center center;
		background-repeat: no-repeat;
		/*background-size: 100%;*/	
		height: 1400px;    		
	} 

	.two-column-photos-section h3 {
		color: #FFFFFF;
		margin: 60px 50px 80px 50px;
	}

	.two-column-photos-section p {
		margin: 60px 50px 80px 50px;
	}	
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.two-column-photos-full-background {
		/*background-color: #e3e3e3;*/
		/*background: url("<?php echo file_create_url($content['field_left_side_photo'][0]['#item']['uri']); ?>");*/
	    /*background-attachment: fixed;*/
	    background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size:cover;
		background-position: center center;
		background-repeat: no-repeat;
		/*background-size: 100%;*/	
		height: 1640px;    		
	} 

	.two-column-photos-section h3 {
		color: #FFFFFF;
		margin: 60px 50px 80px 50px;
	}

	.two-column-photos-section p {
		margin: 60px 140px 80px 140px;
	}	  
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.two-column-photos-full-background {
		/*background-color: #e3e3e3;*/
		/*background: url("<?php echo file_create_url($content['field_left_side_photo'][0]['#item']['uri']); ?>");*/
	    /*background-attachment: fixed;*/
	    background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size:cover;
		background-position: center center;
		background-repeat: no-repeat;
		/*background-size: 100%;*/
		height: 1200px;    		
	} 

	.two-column-photos-section h3 {
		color: #FFFFFF;
		margin: 60px 50px 80px 50px;
	}

	.two-column-photos-section p {
		margin: 60px 140px 80px 140px;
	}	 
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.two-column-photos-full-background {
		/*background-color: #e3e3e3;*/
		/*background: url("<?php echo file_create_url($content['field_left_side_photo'][0]['#item']['uri']); ?>");*/
	    /*background-attachment: fixed;*/
	    background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		-ms-background-size:cover;
		background-position: center center;
		background-repeat: no-repeat;
		/*background-size: 100%;*/
		height: 1200px;	    		
	} 

	.two-column-photos-section h3 {
		color: #FFFFFF;
		margin: 60px 250px 80px 250px;
	}

	.two-column-photos-section p {
		margin: 60px 250px 80px 250px;
	}	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.two-column-photos-full-background {

	    /*background-attachment: fixed;*/
	    /*background-size: cover;*/
		-webkit-background-size: 50% 100%, 50% 100%;
		-moz-background-size: 50% 100%, 50% 100%;
		-o-background-size: 50% 100%, 50% 100%;
		-ms-background-size: 50% 100%, 50% 100%;
		/*background: url("<?php echo file_create_url($content['field_left_side_photo'][0]['#item']['uri']); ?>"), url("<?php echo file_create_url($content['field_right_side_photo'][0]['#item']['uri']); ?>");*/
		background-position: left, right;
		background-repeat: no-repeat, no-repeat;
		background-size: 50% 100%, 50% 100%;
		height: 650px;
		background-color: #000;

	}

	.two-column-photos-section h3 {
		color: #FFFFFF;
		margin: 50px;
	}

	.two-column-photos-section p {
		margin: 50px;
	}	
}

.two-column-photos-section {
	margin: 140px 0 140px 0;
	color: #FFFFFF;
}

/* Full Background Image Callout */

.full-background-image-callout-text {
	color: #FFFFFF;
	margin-top: 10%;
}

.full-background-image-callout-background {


	background-repeat: no-repeat;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size:cover;
	/*max-height: 400px;*/
	min-height: 400px;

}

/*CLAS Paragraphs Styles*/