
.clas-discipline-icon-grid-t-text {
  text-align: center;
  padding: 60px 50px;
}

.dwt-icon-link {
  min-height: 60px;
  text-align: left;
}

.dwt-icon-link a {
  font-weight: bold;
  font-size: 22px;
}

.dwt-icon-link strong.icon-title {
  font-size: 22px;
}

.disc-icon-wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
}

.clas-discipline-icon-grid-t-text .disc-icon-icon {
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 60px 60px;
  min-height: 60px;
}

.clas-discipline-icon-grid-t-text .disc-icon-icon_option_1 {
  background-image: url('../images/icon888.png');
}

.clas-discipline-icon-grid-t-text .disc-icon-icon_option_2 {
  background-image: url('../images/icon999.png');
}

.clas-discipline-icon-grid-t-text .disc-icon-icon_option_3 {
  background-image: url('../images/icon1111.png');
}

.clas-discipline-icon-grid-t-text .disc-icon-icon_option_4 {
  background-image: url('../images/icon2222.png');
}

.clas-discipline-icon-grid-t-text .disc-icon-icon_option_5 {
  background-image: url('../images/icon3333.png');
}

.clas-discipline-icon-grid-t-text .disc-icon-icon_option_6 {
  background-image: url('../images/icon4444.png');
}

.clas-discipline-icon-grid-t-text .disc-icon-icon_option_7 {
  background-image: url('../images/icon5555.png');
}

.clas-discipline-icon-grid-t-text .disc-icon-icon_option_8 {
  background-image: url('../images/icon6666.png');
}

.clas-discipline-icon-grid-t-text .disc-icon-icon_option_9 {
  background-image: url('../images/icon7777.png');
}

.clas-discipline-icon-grid-t-text .disc-icon-icon_option_10 {
  background-image: url('../images/icon8888.png');
}

.clas-discipline-icon-grid-t-text .disc-icon-icon_option_11 {
  background-image: url('../images/icon9999.png');
}

.clas-discipline-icon-grid-t-text .disc-icon-icon_option_12 {
  background-image: url('../images/icon11111.png');
}

.clas-discipline-icon-grid-t-text .disc-icon-icon_option_13 {
  background-image: url('../images/icon-option-13.png');
}

.clas-discipline-icon-grid-t-text .disc-icon-icon_option_14 {
  background-image: url('../images/icon-option-14.png');
}

.clas-discipline-icon-grid-t-text .disc-icon-icon_option_15 {
  background-image: url('../images/icon-option-15.png');
}

.clas-discipline-icon-grid-t-text .disc-icon-icon_option_16 {
  background-image: url('../images/icon-option-16.png');
}

.clas-discipline-icon-grid-t-text .disc-icon-icon_option_17 {
  background-image: url('../images/icon-option-17.png');
}

.clas-discipline-icon-grid-t-text .disc-icon-icon_option_18 {
  background-image: url('../images/icon-option-18.png');
}

.clas-discipline-icon-grid-t-text .disc-icon-icon_option_19 {
  background-image: url('../images/icon-option-19.png');
}

.clas-discipline-icon-grid-t-text .disc-icon-icon_option_20 {
  background-image: url('../images/icon-option-20.png');
}

.clas-discipline-icon-grid-t-text .disc-icon-icon_option_21 {
  background-image: url('../images/icon-option-21.png');
}

.clas-discipline-icon-grid-t-text .disc-icon-icon_option_22 {
  background-image: url('../images/icon-option-22.png');
}

.clas-discipline-icon-grid-t-text .disc-icon-icon_option_23 {
  background-image: url('../images/icon-option-23.png');
}

.clas-discipline-icon-grid-t-text .disc-icon-icon_option_24 {
  background-image: url('../images/icon-option-24.png');
}

.clas-discipline-icon-grid-t-text .disc-icon-icon_option_25 {
  background-image: url('../images/icon-option-25.png');
}

.paragraph-dwt-icon-text {
  font-size: 14px;
}
