/**
 * CLAS Number Highlighter
 */


 .number-highlighter-row {
 	padding: 40px 0 !important;
 	/*background-color: #353535;*/
 }

 .statbar-title {
 	color: #FFFFFF;
 }

 .statbar-number {
 	color: #FFB130;
 	font-size: 64px;
 	text-align: center;
 	margin-bottom: 0;
 }

 .statbar-description {
 	color: #FFFFFF;
 	text-align: center;
 }
