/* Full Background Image Callout */

.full-background-image-callout-text {
	font-size: 21px;
	margin-bottom: 35px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-weight: normal;*/
    line-height: 1.44;
	color: #FFFFFF;
	margin-top: 35px;
	
}

.full-background-image-callout-text h2, .full-background-image-callout-text h3, .full-background-image-callout-text h4 {
	color: #FFFFFF;
}

.full-background-image-callout-background {


	background-repeat: no-repeat;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size:cover;
	/*max-height: 400px;*/
	min-height: 400px;

}
.full-background-image-callout-background h2.pane-title {
	color: #FFFFFF;
    padding-top: 35px;
    text-align: center;
}
.full-background-image-callout-background h2.pane-title a {
	color: #FFFFFF;
	text-decoration:none;
	border:none;
}