/**
 * Webspark Band-Aid
 *
 * Remove egregious padding on Panel Panes set with customized gray background.
 */

.pane-bundle-clas-paragraph-pane.js-darkgraybg,
.pane-bundle-clas-paragraph-pane.js-lightgraybg {
  padding: 0;
}

/**
 * Add Bootstrap intro (Lead) paragraph style
 *
 * TODO: Move this to clas_module?
 */

.lead {
  font-size: 26px;
  font-weight: 100;
  line-height: 1.44;
}

.intro {
  font-size: 18px;
  font-weight: 200;
}

/**
 * CLAS blockquote style
 *
 * TODO: Move this to clas_module?
 * TODO: Add CSS to TinyMCE WYSIWYG?
 */

mark,
.mark-highlight {
  background-color: #ffb30f;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  padding: 4px 8px;
}

/**
 * CLAS blockquote style
 *
 * TODO: Move this to clas_module?
 * TODO: Add CSS to TinyMCE WYSIWYG?
 */

.announcement {
  background-color: #f1f1f1;
  border-left: none;
  margin-bottom: 60px;
  margin-top: 40px;
  padding: 40px;
  padding-top: 20px;
}

.announcement > p:nth-child(1) {
  font-weight: bold;
  text-transform: uppercase;
}

/**
 * Webspark Accordion Content
 *
 * TODO: Report formatting issue to Webspark team
 * @link https://github.com/ASU/webspark-drops-drupal7/issues
 */

.ui-tabs .ui-tabs-panel {
  padding-left: 0;
  padding-right: 0;
}

.ui-tabs .pane-content {
  color: #2a2a2a;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/**
 * CLAS Research Areas
 *
 * TODO: Move this to clas_module?
 * TODO: Add CSS to TinyMCE WYSIWYG?
 */

.research-area-list,
.research-area-list [class*="col-"] {
  margin-bottom: 2em;
}

.research-area-list h3 {
  margin-top: 0;
}

.research-area-list h3 img {
  position: relative;
  vertical-align: middle;
}

.research-area-discipline {
  color: #a40047;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

.research-area-faculty {
  color: #a40047;
  font-size: 13px;
  font-weight: 400;
}



/* Moved from previous CLAS module version */

/* make top of logo image align with other columns in the footer */
.megafoot-border {
    margin-top: 25px;
}

/* Make College link in footer gold instead of maroon */
.megafoot h1 a, .megafoot .mega-dept-title a {
	color: #ffb310 !important;
    border-bottom: 1px dotted #ffb310  !important;
}
.megafoot h1 a:hover,
.megafoot h1 a:focus,
.megafoot .mega-dept-title a:hover,
.megafoot .mega-dept-title a:focus  {
	color: #fff;
	border-bottom: 1px dotted #fff;
}

/* hide menu dropdowns in gray nav with the .nosub class */
.tb-megamenu-item.nosub .tb-megamenu-submenu {
	display:none !important;
}
.tb-megamenu-item.nosub a span.caret {
	display:none !important;
}
.tb-megamenu-item.nosub.dropdown-submenu > a:after {
	display:none !important;
}

/* make sure images in text panes don't extend outside the pane */
.pane-content .field-type-text-long img {
	max-width:100% !important;
	height:auto !important;
}
.file-responsive-image {
	max-width:100%;
}

/*remove local search results metadata author information*/
.search-info{
  display: none;
}

/*Calendar module styles overide- ASU theme*/
.calendar-calendar .week-view .full div.single-day div.weekview,
.calendar-calendar .day-view .full div.single-day div.dayview {
  background: #f5f5f5 !important;
  border: 1px solid #5f5f5f !important;
}

.calendar-calendar th.days {
  background-color: #353535 !important;
  color: #ededed !important;
}

.calendar-calendar td.empty {
  color: #d2d2d2 !important;
}

.calendar-calendar td .inner div.day a {
  color: #353535 !important;
}

.calendar-calendar .month-view .full .inner .monthview,
.calendar-calendar .week-view .full .inner .weekview,
.calendar-calendar .day-view .full .inner .dayview {
  margin: .45em auto !important;
}

.calendar-calendar .month-view .full td.single-day div.monthview,
.calendar-calendar .week-view .full td.single-day div.weekview,
.calendar-calendar .day-view .full td.single-day div.dayview {
  background: #ececec !important;
  padding: 6px !important;
}

.calendar-calendar .month-view .full td.multi-day div.monthview,
.calendar-calendar .week-view .full td.multi-day div.weekview,
.calendar-calendar .day-view .full td.multi-day div.dayview {
  background: #FFC627 !important;
}

.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues,
.calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .continues,
.calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff {
  width: 15px !important;
  background: #ffc627 !important;
}

.view .date-nav-wrapper .date-prev {
  right: 74px !important;
}
