# EditorConfig Properties
# http://editorconfig.org/
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# BBEdit Specific Properties
# http://barebones.com/support/technotes/editorconfig.html
x-typographers-quotes: 0
x-balance-while-typing: 0
x-soft-wrap-text: 0
x-soft-wrap-mode: CharacterWidth
x-soft-wrap-limit: 72
x-font-name: Consolas for BBedit
x-font-size: 12
x-show-invisibles: 1
x-show-spaces: 1
