/**
 * Research Areas Term Page
 */

#panels-ipe-regionid-rowtwo .panels-ipe-sort-container:before,
#panels-ipe-regionid-rowtwo .panels-ipe-sort-container:after {
  content: " ";
  display: table;
}

#panels-ipe-regionid-rowtwo .panels-ipe-sort-container:after {
  clear: both;
}

.research-topic-name .pane-title {
  font-size: 36px;
  margin-top: 0;
}

.research-topic-image {
  margin-bottom: 1em;
  max-height: 200px;
  max-width: 250px;
}

@media (min-width: 700px) {
  .research-topic-image {
    float: right;
    margin-left: 1em;
  }
}

.research-topic-image .pane-title {
  display: none;
}

.research-topic-description .pane-title {
  display: none;
}

/**
 * Research Topic List
 */

.research-topic-list {
}

.research-topic-list .views-row {
  margin-bottom: 1em !important;
}

.research-topic-list .research-topic-image {
  float: none;
  max-width: 100%;
}

.research-topic-list .research-topic-name {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
}

.research-topic-list .research-topic-description {
  font-size: 16px;
}
