/**
 * CLAS Remove Bootstrap Gutters
 */

.row.no-gutter,
.row.no-gutters,
.row-fluid.no-gutter,
.row-fluid.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter > [class*="col-"],
.row.no-gutters > [class*="col-"],
.row-fluid.no-gutter > [class*="col-"],
.row-fluid.no-gutters > [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

/**
 * Research Areas Term Page
 */

#panels-ipe-regionid-rowtwo .panels-ipe-sort-container:before,
#panels-ipe-regionid-rowtwo .panels-ipe-sort-container:after {
  content: " ";
  display: table;
}

#panels-ipe-regionid-rowtwo .panels-ipe-sort-container:after {
  clear: both;
}

.research-area-taxonomy-term-name .pane-title {
  font-size: 36px;
  margin-top: 0;
}

.research-area-taxonomy-term-image {
  margin-bottom: 1em;
  max-height: 200px;
  max-width: 250px;
}

@media (min-width: 700px) {
  .research-area-taxonomy-term-image {
    float: right;
    margin-left: 1em;
  }
}

.research-area-taxonomy-term-image .pane-title {
  display: none;
}

.research-area-taxonomy-term-description .pane-title {
  display: none;
}

/**
 * Research Areas View
 */

.research-areas-view {
  text-align: left;
}

/**
 * Research Areas Vertical List
 */

.research-area-list-vertical {
}

.research-area-list-vertical .views-row {
  margin-bottom: 1em !important;
}

.research-area-grid-horizontal .research-area-term {
}

.research-area-list-vertical .research-area-image {
  max-width: 100%;
}

.research-area-list-vertical .research-area-name {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
}

.research-area-list-vertical .research-area-description {
  font-size: 14px;
}

/**
 * Research Areas Vertical List Subcategories
 */

.research-area-list-vertical-subcategories .views-row {
  margin-bottom: 1em !important;
}

.research-area-list-vertical-subcategories .research-area-term {
}

.research-area-list-vertical-subcategories .research-area-image {
  max-width: 100%;
}

.research-area-list-vertical-subcategories .research-area-name {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
}

.research-area-list-vertical-subcategories .research-area-description {
}

/**
 * Research Areas Horizontal List
 */

.research-area-grid-horizontal {
}

.research-area-grid-horizontal .row {
  margin-bottom: 1em !important;
}

.research-area-grid-horizontal .research-area-term {
  padding-bottom: 25px;
  padding-top: 25px;
}

.research-area-grid-horizontal .research-area-image {
}

.research-area-grid-horizontal .research-area-name {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
}

.research-area-grid-horizontal .research-area-description {
  font-size: 16px;
}

/**
 * Research Area Faculty Expertise Pane
 */

.research-area-faculty-list .row {
  border-bottom: 1px solid #eee;
  margin-bottom: 1em !important;
  padding-bottom: 1em;
}

/**
 * Research Area Faculty Grid
 */

.research-area-faculty-grid {
  padding: 60px 50px;
}

.research-area-faculty-grid .view-header {
  margin-bottom: 50px;
  text-align: center;
}

.research-area-faculty-grid .research-faculty-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1em;
}

/**
 * Research Area Faculty Embed
 */

.research-area-faculty-embed {
  margin-top: 1em;
}

.research-area-faculty-embed ul {
  color: #a30046;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  padding-left: 0;
}

.research-area-faculty-embed li {
  display: inline-block;
  list-style: none;
  margin-right: 2px;
  padding-left: 0;
}

.research-area-faculty-embed li:last-child .delimiter {
  display: none;
}

.research-area-faculty-embed a {
  border-bottom: none;
}
